*.js
!jest.config.js
!app/eslint.config.js
*.d.ts
!app/src/generated/
!app/src/generated/system-catalog.openapi.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Python
*__pycache__*
.coverage

# IDE
.idea
.DS_Store

# application
app/node_modules
app/dist
app/coverage
.dynamodb
